/* font declaration */
@font-face {
  font-family: 'ReducedArt';
  src:  url('fonts/ReducedArt.eot?c3azzl');
  src:  url('fonts/ReducedArt.eot?c3azzl#iefix') format('embedded-opentype'),
    url('fonts/ReducedArt.ttf?c3azzl') format('truetype'),
    url('fonts/ReducedArt.woff?c3azzl') format('woff'),
    url('fonts/ReducedArt.svg?c3azzl#ReducedArt') format('svg');
}

i{
    font-family: "ReducedArt";
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

html, body{
    width: 100%;
}

#loginBx{
    height: 100vh;
    background: rgba(0,0,0,0.3);
    padding-top: 10vh;
}

#loginBx #container{
    background: linear-gradient(rgb(25,25,112), rgb(4, 4, 45));;
    width: 50%;
    margin: 0 auto;
    box-shadow: 0 6px 35px #666;
    position: relative;
}

@media only screen and (max-width:800px){
    #loginBx #container {
        width: 60%;
    }
    
    #errUPass i{
        margin: 0 5px;
    }
}

#lftbar, #rtbar{
    padding: 10px;
}

#lftbar{
    text-align: center;
}
#lftbar img{
    width: 80%;
    margin-bottom: -10px;
}

#lftbar h3{
    font-family: 'Philosopher', sans-serif;
    color: #ccc;
    font-size: 2.3em;
}
#lftbar p{
    text-transform: uppercase;
    color: #999;
    margin-top: 25px;
}

#lftbar #notice{
    font-size: 0.6em;
    margin: 0;
    color: #666;
    margin-top: 60px;
}

#rtbar{
    background: rgba(255, 255, 255, 0.84);
}

#rtbar p{
    margin: 10px 0;
    color: #26a69a;
}

#rtbar form{
    margin-top: 22px;
}

#rtbar form p{
    margin-bottom: 20px;
}

#rtbar form a:hover{
    text-decoration: underline;
}

#rtbar label {
    color: #6d6d6d;
}
#rtbar input{
    height: auto;
    color: #08083b;
}

#errMsg{
    opacity: 0;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 25px;
    transition: opacity 0.2s ease-in;
}

#errMsg #errUPass{
    background: #848484;
    padding: 12px;
    color: #dadada;
    border-left: 6px solid #f12d14;
}

#errMsg td{
    padding: 0;
    border-radius: 0;
    text-align: center;
}

#errUPass i{
    font-size: 1.5em;
    padding: 0 5px;
    font-style: normal;
    color: #f8ef8a;
}

#errUPass p{
    text-align: left;
}

#errUPass a{
    padding: 0 10px;
    color: #ccc;
}

#errUPass a:hover{
    color: #ff8b8b;
}
